
.icon-up-big:before { content: '\e800'; } /* '' */
.icon-down-big:before { content: '\e801'; } /* '' */
.icon-resize-full:before { content: '\e802'; } /* '' */
.icon-minus:before { content: '\e803'; } /* '' */
.icon-play:before { content: '\e804'; } /* '' */
.icon-ok:before { content: '\e805'; } /* '' */
.icon-up-open:before { content: '\e806'; } /* '' */
.icon-down-open:before { content: '\e807'; } /* '' */
.icon-left-open:before { content: '\e808'; } /* '' */
.icon-right-open:before { content: '\e809'; } /* '' */
.icon-th-list:before { content: '\e80d'; } /* '' */
.icon-stop:before { content: '\e811'; } /* '' */
.icon-pause:before { content: '\e812'; } /* '' */
.icon-cog-alt:before { content: '\e813'; } /* '' */
.icon-eject:before { content: '\e815'; } /* '' */
.icon-cog-1:before { content: '\e817'; } /* '' */
.icon-cancel:before { content: '\e81b'; } /* '' */
.icon-attention:before { content: '\e821'; } /* '' */
.icon-left-big:before { content: '\e825'; } /* '' */
.icon-right-big:before { content: '\e826'; } /* '' */
.icon-off-1:before { content: '\e828'; } /* '' */
.icon-user-1:before { content: '\e82c'; } /* '' */
.icon-check:before { content: '\e839'; } /* '' */
.icon-check-empty:before { content: '\f096'; } /* '' */
.icon-resize-full-alt:before { content: '\f0b2'; } /* '' */
.icon-sort:before { content: '\f0dc'; } /* '' */
.icon-sort-down:before { content: '\f0dd'; } /* '' */
.icon-sort-up:before { content: '\f0de'; } /* '' */
.icon-circle-empty:before { content: '\f10c'; } /* '' */
.icon-circle:before { content: '\f111'; } /* '' */
.icon-ellipsis-vert:before { content: '\f142'; } /* '' */
.icon-dollar:before { content: '\f155'; } /* '' */
.icon-box-1:before { content: '\f187'; } /* '' */
.icon-circle-thin:before { content: '\f1db'; } /* '' */
.icon-shopping-basket:before { content: '\f291'; } /* '' */
.icon-window-minimize:before { content: '\f2d1'; } /* '' */
.icon-window-close:before { content: '\f2d3'; } /* '' */